*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 100px;
}

.card {
    width: 345px;
    height: 490px;
    border-radius: 4px;
    /*border-color:#ff0000 #0000ff;*/
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.card-header{
    display:flex;
    padding:16px 16px 16px 16px;
    align-items: center;
}

.mui-avatar{
    background-color: #f44336;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.header-content{
    flex: 1 1 auto;
    display: block;
    padding-left: 15px;
}

.body2{
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.header-action{
    flex: 0 0 auto;
    align-self: flex-start;
    margin-top: -8px;
    margin-right: -8px;
}

.buttonbase{
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.iconbutton{
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.iconbutton:hover{
    background-color: #C0C0C0;
}

.iconbutton:active{
    /*background-color: #C0CCCC;
    border-radius: 50%;*/
    box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
    /*border-left:4px solid #e0e0e0*/
}

.button-label{
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.SvgIcon-root{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.card-imag{
    width: 345px;
    height: 194px;
    background-image: url(https://drscdn.500px.org/photo/86750441/q%3D80_m%3D2000/v2?sig=dc5e99e4c6ce9d3e2e4bd75c9cacc83215677f8d0bac7dce5aacbd05a7c44ea4);
    background-size: cover;
    background-position: center;
}

.card-content{
    padding: 16px;
}

.content-body{
    color: rgba(0, 0, 0, 0.54);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
}

.card-action{
    display: flex;
    padding: 8px;
    align-items: center;
}

.jss291{
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: auto;
}