.App {
    font-family: arial;
	margin: 0;
	padding: 0;
	position: absolute;
    width: 100%;
    height:100%;
    background-image: url(https://desk-fd.zol-img.com.cn/t_s1920x1080c5/g5/M00/01/0E/ChMkJlbKweiIFY_6AA3VjT9w7FMAALGfwFCj8AADdWl862.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}



.nav{
    display: flex;
    width: 100%;
    height: 100px;
}

.nav-icon{
    padding: 16px;
}

.card {
    margin: 0 auto;
    width: 1035px;
    height: 735px;
    border-radius: 10px;
    /*border-color:#ff0000 #0000ff;*/
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    justify-content: center;
    align-content: center;
}

.card-header{
    display:flex;
    width: 1035px;
    height: 350px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    background-image: url(./paris.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    
}

.header-temp{
    padding:32px 32px 32px 32px;
    width: 360px;
    height: 290px;
    position: absolute;
}

.temp-and-circle{
    display: flex;
}

.temp{
    display: flex;
    padding-top: 32px;
    padding-left: 90px;
    overflow: hidden;
    position: relative;
    font-size: 7rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    justify-content: center;
    color: white;
}

.temp-circle{
    margin-top: 32px;
    border: 5px solid;
	height: 15px;
	width: 15px;
	margin-left: 10px;
    border-radius: 50%;
    color: white;
}

.weather{
    display: flex;
    margin-left: 120px;
    font-family: "Arial";
    letter-spacing:3px;
    color: white;
}

.header-position{
    padding: 0px 100px 125px 0px;
    margin-left: auto;
    font-size: 2.5rem;
    font-family: "Arial";
    letter-spacing:3px;
    text-decoration:underline;
    color: white;

}

.header-whether{
    display: flex;
    padding-top: 32px;
    padding-left: 40px; 
}

.humidity{
    letter-spacing:3px;
    color: white;
}

.wind{
    letter-spacing:3px;
    color: white;
}


.wind-value{
    border-left: 1px solid white;
    padding-left: 16px;
    color: white;
}

.humi-value{
    margin-left: 16px;
    padding-left: 16px;
    color: white;
}

.win-value{
    margin-left: 16px;
}

.humidity{
    padding-right: 16px;
}

.wind{
    padding-left: 16px;
}

.card-content{
   padding-top: 64px;
   display: flex;
   z-index: 90;
   justify-content: space-between;
   background: white no-repeat;
   background-size:cover;
}

.twitter{
    width: 35%;
}


.twitter-feed{
    display: flex;
    padding-left: 24px;
    padding-top: 64px;
    padding-bottom: 36px;
 }
 

.twitter-icon{
    height: 24px;
}

.feed-title{
    margin-left: 16px;
    font-size: 1.5rem;
    font-family: "Arial";
    letter-spacing:3px;
}

.feed-position{
    margin-left: 16px;
    font-size: 1.25rem;
    font-style: italic;
    color: blue;
    font-family: "Arial";
}

.feedback{
    display: flex;
    padding: 16px;
}

.message{
    padding: 10px 0px 0px 16px;
    font-family: "Arial";
}

.photo{
    background-color:gray;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    overflow: hidden;
    position: relative;
    font-size: 1.25rem;
    align-items: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    user-select: none;
    border-radius: 50%;
    justify-content: center;
}

.card-content{
    padding: 16px;
}

.next{
    padding: 16px;
    text-align: center;
    font-family: "Arial";
    letter-spacing:3px;
}

.calander{
    width: 65%;
    border-left: 3px solid grey;
}

#nav ul {
    list-style: none;
    margin-left: 20px;
}
 
#nav li {
    display: inline;
    line-height: 80px;
    padding-left: 42px;
    float:left;
    text-align: center;
}
 
#nav a {
    color:black;
    text-decoration: none;
    padding: 20px 20px;
}
